{% extends 'base.html' %}

{% block title %}لیست کارها{% endblock title %}


{% block content %}
<h1 style="margin-top: 20px;">لیست کارها(ToDo List)</h1>

{% if user.is_authenticated %}
<h2>سلام <a class="link" href="{% url 'todoapp:todo_list' %}">{{ user }}</a> عزیز :)</h2>
{% else %}
<h2>سلام دوست من :)</h2>
{% endif %}

<br>

<h3>اینجا میتونی کارهایی که داری رو بنویسی و به صورت لیست داشته باشی.</h3>
<h3>برای کارهات زمان تعیین کنی و بعد از اتمام تیک شون بزنی.</h3>

<h3 style="margin-top: 40px; margin-bottom: 10px;">داشتن لیست کارها <b>سه</b> مزیت مفید داره</h3>
<h4>1. کارهات رو مینویسی و به همین واسطه، ذهن ات <b>آزاد</b> میشه و <b>تمرکز</b> ات هم بالا میره!</h4>
<h4>2. بعد از اتمام کار <b>تیک</b> اش میزنی و ذهن ات <b>لذت</b> میبره که اون کار رو تموم کرده!</h4>
<h4>3.  وقتی <b>لیست</b> کل کارهات رو داری،میدونی میخوای چیکار کنی و <b>زمان</b> ات رو <b>مدیریت</b> میکنی!</h4>
<div class="how-to-use">
  <h3 style="margin-top: 40px;"><b>نحوه استفاده</b></h3>
  <h4 style="line-height: 1.5;margin-top: 10px;">
      بعد از <a href="{% url 'accounts:register' %}">ثبت نام</a> یا <a href="{% url 'accounts:login' %}">ورود</a> به سایت به صفحه <a href="{% url 'todoapp:todo_list' %}">لیست کارها</a> برو و برای افزودن کار روی
      <a href="{% url 'todoapp:create_todo' %}">ایجاد کار جدید +</a> کلیک کن سپس <b>عنوان کار</b> و <b>زمان</b> مورد نظرت را
      بنویس و بر روی دکمه <b>اضافه کردن</b> بزن،لیست کارهایت در صفحه <a href="{% url 'todoapp:todo_list' %}">لیست کارها</a> ذخیره میشوند، بعد از اتمام کار میتونی اون رو <b>تیک بزنی</b> یا
      از لیست ات <b>پاک</b> اش کنی، اگر هم موقع اضافه کردن اشتباهی کردی میتونی مشخصات کار رو <b>تغییر</b> بدی.
  </h4>
</div>
<h3 style="text-align: center; margin: 40px 0; margin-bottom: 100px;">امیدوارم با این سایت بتونی تمام کارهات رو به خوبی مدیریت کنی :)</h3>
{% endblock content %}